
#EETI
{
    background-image: url('event.jpg');
    background-size: cover;
    min-height: 150px;
}

#TINKERHUB
{
    background-image: url('event.jpg');
    background-size: cover;
    min-height: 150px;
}


#IEEE
{
    background-image: url('event.jpg');
    background-size: cover;
    min-height: 150px;
}


#GDSC
{
    background-image: url('event.jpg');
    background-size: cover;
    min-height: 150px;
}



